<div class="bookmark-body">
  <div class= "bookmark-header" data-controller="new-list">
    <h1 class= nav-title-bookmarks>Bookmarks list</h1>
    <button class="open-button" onclick="openForm()"><i class="fa fa-plus" aria-hidden="true"></i> New List</button>
  </div>
  <% @lists.each do |list| %>
    <div class="list-card">
      <%= link_to list.name, list_path(list), class: "List" %>
      <%= link_to list_path(list.id), data: {turbo_method: :delete, turbo_confirm: "are you sure you want to delete #{list.name}?"} do %>
          <i class="fas fa-trash-alt bookmark trash"></i>
          <% end %>
      <%= link_to edit_list_path(list.id) do %>
        <i class="fas fa-edit bookmark edit"></i>
      <% end %>
    </div>
  <% end %>
</div>

<div class="form-popup" id="myForm">
  <%= simple_form_for @list, html: { class: "bookmark-form-index" } do |f| %>
    <%= f.input :name, input_html: { class: 'bookmark-form-input-index' }, placeholder: "List Name..." %>
    <%= f.submit "Done", class: "bookmark-form-submit-index" %>
  <% end %>
  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
