<button id="Modal-<%=bookmark.id%>" data-dropdown-toggle="dropdownLeft<%=bookmark.id%>" data-dropdown-placement="left" class="w-6 h-6" type="button">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
    <path fill-rule="evenodd" d="M10.5 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" clip-rule="evenodd" />
  </svg>
</button>

<!-- Dropdown menu -->
<div id="dropdownLeft<%=bookmark.id%>" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownLeftButton">
      <li>
        <%= link_to bookmark_path(bookmark.id),
          data: {turbo_method: :delete, turbo_confirm: "are you sure you want to delete this bookmark?"}, class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" do %>
          Delete
        <% end %>
      </li>
      <li>
        <%= link_to edit_bookmark_path(bookmark.id), class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" do %>
          Edit
        <% end %>
      </li>
    </ul>
</div>
