<<<<<<< HEAD
<h1 class="title">Trip it easy</h1>
<div class="all-items-home">
  <div class="container">
    <%= form_with url: places_search_path, method: :get do |form| %>
      <div class="row height d-flex justify-content-center align-items-center">
        <div class ="row" data-controller='autocomplete' data-autocomplete-api-key-value= "<%= ENV['GOOGLE_API'] %>" >
          <div class="form">
            <i class="fa fa-search"></i>
            <%= form.search_field :address, placeholder: 'Type specific location', class:'form-control form-input', data: {autocomplete_target: 'search'} %>
            <span class="left-pan"><i class="fa fa-microphone"></i></span>
          </div>
          <div class="d-none">
            <%= form.text_area :latitude, data: { autocomplete_target: 'lat'} %>
            <%= form.text_area :longitude, data: { autocomplete_target: 'lng'} %>
          </div>
        </div>

        <div class="row">
          <h5>Distance in meters</h5>
          <%= form.range_field :radius, in: 0..3000, id: 'radius-input' %>
          <p id="radius-value"></p>
          <script>
            var radiusInput = document.getElementById('radius-input');
            var radiusValue = document.getElementById('radius-value');
            radiusInput.addEventListener('input', function() {
              radiusValue.innerText = this.value + ' meters';
            });
          </script>
        </div>

        <div class="row" style="z-index:100">
          <h5>Select an activity</h5>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Select an option
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <p>Eat/Drink</p>
              <li class="dropdown-item">
                <%= form.radio_button :type, "bar" %>
                <%= form.label :type_bar, "Bar" %>
              </li>
              <li class="dropdown-item">
                <%= form.radio_button :type, "restaurant" %>
                <%= form.label :type_restaurant, "Restaurant" %>
              </li>
              <li class="dropdown-item">
                <%= form.radio_button :type, "cafe" %>
                <%= form.label :type_restaurant, "Cafe" %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <p>Visit</p>
              <li class="dropdown-item">
                <%= form.radio_button :type, "museum" %>
                <%= form.label :type_museum, "Museum" %>
              </li>
            </ul>
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

        <div class="row">
          <div class="container">
            <div class="btn-group" data-toggle="buttons">
              <%= form.radio_button :maxprice, "0", class: "btn-check", id: "maxprice-0", autocomplete: "off" %>
              <%= form.label :maxprice_0, class: "btn btn-rounded", for: "maxprice-0" do %>
                $
              <% end %>


              <%= form.radio_button :maxprice, "1", class: "btn-check", id: "maxprice-1", autocomplete: "off" %>
              <%= form.label :maxprice_1, class: "btn btn-rounded", for: "maxprice-1" do %>
                $$
              <% end %>

              <%= form.radio_button :maxprice, "2", class: "btn-check", id: "maxprice-2", autocomplete: "off" %>
              <%= form.label :maxprice_2, class: "btn btn-rounded", for: "maxprice-2" do %>
                $$$
              <% end %>




              <%= form.radio_button :maxprice, "3", class: "btn-check", id: "maxprice-3", autocomplete: "off" %>
              <%= form.label :maxprice_3, class: "btn btn-rounded", for: "maxprice-3" do %>
                $$$$
              <% end %>
            </div>
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.js">
        </script>

        <div class="row">
          <h5 class="randomise-text">Randomise</h5>
        </div>

        <div class="row">
          <div class="randomise-button-container">
            <%= button_tag type: "submit", class: 'randomise-button' do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8" style="padding: 10px">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
              </svg>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <button type="button" class="btn btn-secondary"
          data-bs-toggle="popover" data-bs-placement="right"
          data-bs-custom-class="custom-popover"
          data-bs-title="Custom popover"
          data-bs-content="This popover is themed via CSS variables."
          id="example">
    Custom popover
  </button>
=======
<div class="background-img" style="background-image: url('background-map.png');">
  <div class="title-container mb-5">
    <h1 class="title">Trip it easy</h1>
    <h2 class="subtitle">Life's short, stop spending hours deciding where to go...</h2>
  </div>
  <div class="form-container">
    <%= form_with url: places_search_path, method: :get do |form| %>
      <div class="row d-flex justify-content-center align-items-center">
        <div class ="row mb-2" data-controller='autocomplete' data-autocomplete-api-key-value= "<%= ENV['GOOGLE_API'] %>" >
          <div class="flex items-center px-0">
            <label for="voice-search" class="sr-only">Search</label>
            <div class="relative w-full">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
              </div>
              <%= text_field_tag :address, nil, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', id: 'voice-search', placeholder: 'Where are you going?', required: true, data: {autocomplete_target: 'search'} %>
              <%= render "components/filter_modal" %>
            </div>
          </div>

          <div class="d-none">
            <%= form.text_area :latitude, data: { autocomplete_target: 'lat'} %>
            <%= form.text_area :longitude, data: { autocomplete_target: 'lng'} %>
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

        <div class="row mb-5">
          <%= button_tag(type: "submit", class: "text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700") do %>
            Let's go!
          <% end %>
        </div>
      </div>
    <% end %>

    <img id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="w-10 h-10 rounded-full cursor-pointer" src="http://2.bp.blogspot.com/_WeUuCrEG_oE/TT5awo3TSLI/AAAAAAAADrU/umRltd7YXtk/s1600/justin_bieber1.png" alt="User dropdown">

        <!-- Dropdown menu -->
    <div id="userDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
          <div>Bonnie Green</div>
          <div class="font-medium truncate">name@flowbite.com</div>
        </div>
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
          </li>
        </ul>
        <div class="py-1">
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
        </div>
    </div>
  </div>
>>>>>>> master
</div>
