<%# <div class="background-img" style="background-image: url('https://boundlessmaps.com/wp-content/uploads/previews/25604/melbourne-10000-sma-6bcdc8-preview-1280x1280.png');"> %>
  <div class="title-containe">
    <h1 class="title">Trip it easy</h1>
    <h2 class="subtitle">Life's short, stop spending hours deciding where to go...</h2>
  </div>
  <div class="container">
    <%= form_with url: places_search_path, method: :get do |form| %>
      <div class="row height d-flex justify-content-center align-items-center">
        <div class ="row" data-controller='autocomplete' data-autocomplete-api-key-value= "<%= ENV['GOOGLE_API'] %>" >
          <div class="flex items-center">
            <label for="voice-search" class="sr-only">Search</label>
            <div class="relative w-full">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
              </div>
              <input type="text" id="voice-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Mockups" required <%= form.text_field :address, class:'form-control form-input', data: {autocomplete_target: 'search'} %>>
              <%= render "components/filter_modal" %>
            </div>
          </div>

          <%# <div class="form">
            <i class="fa fa-search"></i> %>
            <%# <%= form.search_field :address, placeholder: 'Type specific location', class:'form-control form-input', data: {autocomplete_target: 'search'} %> %>
            <%# <span class="left-pan">
              <i style="margin-left: -5px;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 13.5V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 9.75V10.5" />
                </svg>
              </i>
            </span>
          </div> %>
          <div class="d-none">
            <%= form.text_area :latitude, data: { autocomplete_target: 'lat'} %>
            <%= form.text_area :longitude, data: { autocomplete_target: 'lng'} %>
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


        <div class="row">
          <h5 class="randomise-text">Randomise</h5>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="randomise-button-container">
            <%= button_tag type: "submit", class: 'randomise-button' do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8" style="padding: 10px">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
              </svg>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<%# </div> %>
