
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= form_with url: places_search_path, method: :get do |form| %>
  <%# <%= form.text_area :query %>
  <div data-controller='autocomplete' data-autocomplete-api-key-value= "<%= ENV['GOOGLE_API'] %>" >
    <%= form.search_field :address, data: {autocomplete_target: 'search'} %>
    <div class="d-none">
      <%= form.text_area :latitude, data: { autocomplete_target: 'lat'} %>
      <%= form.text_area :longitude, data: { autocomplete_target: 'lng'} %>
    </div>
  </div>
  <%= form.text_area :type %>
  <%= form.number_field :radius %>
  <%= form.range_field :minprice, in: 0..4 %>
  <%= form.submit %>
<% end %>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
