<div class="background-img" style="background-image: url('background-map.png');">
  <div class="title-container mb-5">
    <h1 class="title">Trip it easy</h1>
    <h2 class="subtitle">Life's short, stop spending hours deciding where to go...</h2>
  </div>
  <div class="form-container">
    <%= form_with url: places_search_path, method: :get do |form| %>
      <div class="row d-flex justify-content-center align-items-center">
        <div class ="row mb-2" data-controller='autocomplete' data-autocomplete-api-key-value= "<%= ENV['GOOGLE_API'] %>" >
          <div class="flex items-center px-0">
            <label for="voice-search" class="sr-only">Search</label>
            <div class="relative w-full">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
              </div>
              <%= text_field_tag :address, nil, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', id: 'voice-search', placeholder: 'Where are you going?', required: true, data: {autocomplete_target: 'search'} %>
              <%= render "components/filter_modal" %>
            </div>
          </div>

          <div class="d-none">
            <%= form.text_area :latitude, data: { autocomplete_target: 'lat'} %>
            <%= form.text_area :longitude, data: { autocomplete_target: 'lng'} %>
          </div>
        </div>

        <div class="row mb-5">
          <%= button_tag(type: "submit", class: "text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700") do %>
            Let's go!
          <% end %>
        </div>
      </div>
    <% end %>

    <img id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="w-10 h-10 rounded-full cursor-pointer" src="http://2.bp.blogspot.com/_WeUuCrEG_oE/TT5awo3TSLI/AAAAAAAADrU/umRltd7YXtk/s1600/justin_bieber1.png" alt="User dropdown">

        <!-- Dropdown menu -->
    <div id="userDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
          <div>Bonnie Green</div>
          <div class="font-medium truncate">name@flowbite.com</div>
        </div>
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
          </li>
        </ul>
        <div class="py-1">
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
        </div>
    </div>
  </div>
</div>
