<div class="m-12">
  <div class="m-auto text-center font-extrabold text-3xl p-5">
    <h1>TripItEasy</h1>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-login-sm"} , data: { turbo: :false }) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  label: false,
                  input_html: { autocomplete: "email", class: "email-login", placeholder: "Email" } %>
      <%= f.input :password,
                  required: false,
                  label: false,
                  input_html: { autocomplete: "current-password", class: "email-login", placeholder: "Password" } %>
      <%= f.input :remember_me,
                  input_html: {class: "remember-me-login"},
                  as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div>
      <%= f.button :submit, "Log in", class: "text-white bg-sky-400 hover:bg-sky-600 focus:ring-4 focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 w-full dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    </div>
  <% end %>
  <div>
    <%= render "devise/shared/links" %>
  </div>
</div>
