<div class="container all-show">
  <div class="bookmark-div">
    <%= link_to new_place_bookmark_path(@place), class: "bookmark" do %>
      <i class="fa fa-bookmark"></i>
    <% end %>
  </div>


  <div>
    <h2><strong><%= @place.name  %></strong></h2>
  </div>

  <div>
    <h5><%= @place.address %></h5>
  </div>

  <% if @place.ratings.present? %>
    <div style="display: flex; align-items: center;">
      <h5 style="margin-right: 10px;">Ratings:</h5>
      <% (1..5).each do |i| %>
        <% if i <= @place.ratings %>
          <i class="fas fa-star" style="color: white;"></i>
        <% else %>
          <i class="far fa-star" style="color: white;"></i>
        <% end %>
      <% end %>
      <p style="margin-left: 10px;">(<%= @place.total_ratings %>)</p>
    </div>
  <% end %>

  <div class = "carosal">
  <input type="radio" name="position" class="circle" checked/>
  <input type="radio" name="position" class="circle" />
  <input type="radio" name="position" class="circle" />
  <input type="radio" name="position" class="circle" />
  <input type="radio" name="position" class="circle" />
  <main id="carousel">
    <div class="item">
    <%= image_tag place_photo_path(@place.photos[1]), class: "photo-caro"%>
    </div>
  </div>

  <div class="bottom-buttons-div">
    <% if @place.latitude && @place.longitude %>
      <% maps_link = "https://www.google.com/maps/search/?api=1&query=#{CGI.escape(@place.name)}" %>
      <a href="<%= maps_link %>" target="_blank">View on Google Maps</a>
    <% end %>
    <%= link_to "Randomise Again", places_search_path, class: "bottom-buttons" %>
  </div>
</div>


<script>
const prevButton = document.querySelector('#prev-button');
const nextButton = document.querySelector('#next-button');
const radioButtons = document.querySelectorAll('.carosal input[type="radio"]');

let checkedIndex = 0;

// Find the initially checked radio button index
radioButtons.forEach((radioButton, index) => {
  if (radioButton.checked) {
    checkedIndex = index;
  }
});

// Handle the previous button click
prevButton.addEventListener('click', () => {
  if (checkedIndex > 0) {
    radioButtons[checkedIndex - 1].checked = true;
    checkedIndex--;
  }
});

// Handle the next button click
nextButton.addEventListener('click', () => {
  if (checkedIndex < radioButtons.length - 1) {
    radioButtons[checkedIndex + 1].checked = true;
    checkedIndex++;
  }
});
</script>
