<div class="container all-show">
  <div class="bookmark-div">
    <%= link_to new_place_bookmark_path(@place), class: "bookmark" do %>
      <i class="fa fa-bookmark"></i>
    <% end %>
  </div>


  <div>
    <h2><strong><%= @place.name  %></strong></h2>
  </div>

  <div>
    <h5><%= @place.address %></h5>
  </div>

  <div>
    <h5>Rating:</h5>
    <p><%= @place.ratings %></p>
    <p><%= @place.total_ratings %></p>
  </div>

  <div>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </div>

  <div class="photo" >
    <div class="square">
      <% @place.photos.first(5).each do |photo_ref| %>
        <%= image_tag place_photo_path(photo_ref), class: "squarePhoto" %>
      <% end %>
    </div>

    <%# <div class="reqtangle">
    <% @place.photos.each do |photo_ref| %>
        <%# <%= image_tag place_photo_path(photo_ref), class: "reqtanglePhoto" %>
      <%# <% end %>
    <%# </div> %>
  <%# </div> %>

    <div class="bottom-buttons-div">
    <a class= "bottom-buttons" href="www.google.com">Open in maps</a>
    <%= link_to "Randomise Again", place_path, class: "bottom-buttons" %>
    </div>
  </div>
</div>


<div class="container bottom-div-all">
  <div class="row">
    <div class="col bottom-div">
          <%= link_to bookmarks_path, class: "bookmark bottom-links" do %>
        <i class="fa fa-bookmark"></i>
      <% end %>
    </div>

    <div class="col bottom-div">
      <%= link_to raw('<i class="fa fa-home"></i>'), root_path, class: "bookmark bottom-links" %>
    </div>
  </div>
</div>
