<div class="container overflow-x-hidden w-full flex flex-col items-center p-8">
  <div class="flex flex-col h-1/4 items-center">
    <%= link_to new_place_bookmark_path(@place), class: "bookmark place-self-end" do %>
      <i class="fa fa-bookmark"></i>
    <% end %>
    <h2 class="text-4xl text-center mb-3"><%= @place.name  %></h2>
    <div>
      <h5 class="text-lg text-center m-2"><%= @place.address %></h5>
    </div>
  </div>
  <div class="text-center w-3/4 m-3">
  Tapas-style plates and infused vodka served in swanky digs with a rooftop bar and antique still.
  </div>


  <% if @place.ratings.present? %>
    <%# <div style="display: flex; align-items: center;"> %>
      <%# <h5 style="margin-right: 10px;"></h5> %>
    <div class="w-3/4 p-2 text-center mt-2 flex justify-center items-center">
          <% (1..5).each do |i| %>
            <% if i <= @place.ratings %>
            <div class="w-8 h-8 ">
              <i class="fas fa-star text-xl	" style="color: black;"></i>
            </div>
            <% else %>
            <div class="w-8 h-8">
              <i class="far fa-star text-xl	" style="color: black;"></i>
            </div>
            <% end %>
          <% end %>
        <%# </div> %>
    </div>
          <p class="mb-6">(<%= @place.total_ratings %>)</p>
  <% end %>

  <div class="m-2 columns-2 md:columns-3 overflow-y-visible">

      <% @place.photos.first(10).each do |photo_ref| %>
        <%= image_tag place_photo_path(photo_ref), class: "mb-3 rounded-lg" %>
      <% end %>

  </div>
<div class="w-full flex justify-center mt-6 items-center">

    <div class="bg-black text-white py-2 px-6 rounded-full w-34 text-center mr-6">
      <% if @place.latitude && @place.longitude %>
      <% maps_link = "https://www.google.com/maps/search/?api=1&query=#{CGI.escape(@place.name)}" %>
      <a href="<%= maps_link %>" target="_blank">Google Maps</a>
      <% end %>
    </div>

    <div class="bg-black text-white py-2 px-6 rounded-full w-32 text-center">
      <%= link_to "Randomise", places_search_path %>
    </div>

</div>
</div>
